<form action="/reset/forgot" method="POST">
    <label for="">Email address</label>
    <input type="email" name="email" id="email" placeholder="Your email">
    <input type="submit" value="Submit">
</form>